.flexcontainer {
  display: flex;
  width: 100%;
  margin: auto;

  .image {
    margin: auto;
  }
  img {
    border-radius: 30px;
    object-fit: cover;
  }

  .btn-like {
    width: 150px;
    background-color: rgb(229, 229, 229);
    margin-right: 10px;
  }
  .btn-like:hover {
    background-color: red;
    color: rgb(255, 255, 255);
  }

  .username {
    text-decoration: none;
    color: rgb(0, 72, 226);
  }
}
.likes {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  .liked-by{
    margin-left: 10px;
  }
  .underline{
    text-decoration: underline;
    cursor: pointer;
  }
  .heart-icon{
    color: red;
  }
  .heart-icon-crack{
    color: rgb(121, 121, 121);
  }
}

@media screen and (max-width: 600px) {
  .flexcontainer {
    flex-direction: column;
  }
  img {
    height: 200px;
    max-width: 200px;
  }
}

@media (min-width: 601px) and (max-width: 1000px) {
  .flexcontainer {
    flex-direction: column;
  }
  img {
    height: 230px;
    max-width: 230px;
  }
}

@media (min-width: 1001px) {
  .flexcontainer {
    flex-direction: row;
  }
  img {
    height: 250px;
    max-width: 250px;
    margin-right: 20px;
  }
  .image {
    margin: 0 !important;
  }
}
